body {
    background-color: tomato;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 100vh;
    margin: 0%;
    overflow: hidden;
}
#container {    
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
#ball {
    position: relative;
    border-radius: 200px;
    height: 100px;
    width: 100px;
    margin: auto;
    background-color: whitesmoke;
    transform-origin: bottom;
}

#label p{
    color: whitesmoke;
    font-family: 'Montserrat';
}